/* This file will hold the main styles for your website. */

/*Head*/
#zone-user-wrapper{
  background-color: #111;
  margin-bottom: 15px;
  padding: 7px 0;
}

#region-user-first{
  color: #FFF;
  text-transform: uppercase;
  font-size: 11px;
}

#region-user-first a{
  text-decoration: none;
  color: #F7472E;
}


#region-user-first a:hover{
  text-decoration: underline;
  color: #F7472E;
}
.navigation {
  float: right;
}

.navigation li a {
  font-family: 'AllerRegular', Arial, sans-serif;
  border-radius: 30px;
  color: #000000;
  cursor: pointer;
  display: block;
  float: left;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}



.navigation li a:hover {
  color: #F7472E;
}

.navigation li a.active {
  background: none repeat scroll 0 0 #F7472E;
  color:#FFFFFF;
}

.submitted{
  text-transform: uppercase;
  font-family: 'AllerRegular', Arial, sans-serif;
  font-size: 12px;
  padding-top: 5px;
}

.author{
  display: block;
}

.date{
  color: #CCC;
}

/*Secciones*/
footer{
  
}

.node-presentation{
  
}


/*.node-presentation .node-links ul li a{
  color: #F7472E;
  padding: 0;
  text-decoration: none;
  
}*/

.node-presentation .node-links ul li a:hover{
  color: #F7472E;
  padding: 0;
  text-decoration: underline;
  
}

a:link, a:visited{
  text-decoration: none;
  color: #F7472E;
  
}

a:hover{
  text-decoration: underline;
}

article{
  padding-top: 20px;
}

h3{
  font-size: 22px;
}

h1, h2, h3, h4, h5{
  font-family: 'AllerRegular', Arial, sans-serif;
  font-weight: normal;
  line-height: 120%;
  margin-bottom: 20px;
}

body{
  color: #111;
  font-family: Arial, sans-serif;
}

#zone-branding-wrapper{
  border-bottom: 1px dotted #DFDFDF;
  padding: 20px 0;
}

#region-sidebar-second li a{
  color: black;
  display: block;
  font-family: 'AllerRegular', Arial, sans-serif;
  font-size: 12px;
  padding: 5px 7px;
  text-transform: uppercase;
  margin: 0;
}

#region-sidebar-second li a:hover{
  color: #F7472E;
}

#region-sidebar-second li{
  margin: 0;
  background-color: #F0f0f0;
  border-bottom: 1px dotted white;
}

#region-sidebar-second .block-title{
  margin-bottom: 10px;
}