/* This file will hold the main styles for your website. */

/*Head*/
#zone-user-wrapper{
  background-color: #111;
  margin-bottom: 15px;
  padding: 7px 0;
}

#region-user-first{
  color: #FFF;
  text-transform: uppercase;
  font-size: 11px;
}

#region-user-first a{
  text-decoration: none;
  color: #F7472E;
}


#region-user-first a:hover{
  text-decoration: underline;
  color: #F7472E;
}

.navigation li a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #DDDDDD 100%) repeat scroll 0 0 transparent;
    border-color: #DDDDDD #BBBBBB #999999;
    border-radius: 11px 11px 11px 11px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    cursor: pointer;
    display: block;
    float: left;
    font: bold 12px/1.2 Arial,sans-serif;
    margin: 0 0.5em 0.5em 0;
    outline: 0 none;
    overflow: visible;
    padding: 4px 10px 3px;
    text-decoration: none;
    text-shadow: 0 1px 1px #FFFFFF;
    text-transform: lowercase;
    vertical-align: middle;
    width: auto;
}

.navigation li a:hover {
  background: none repeat scroll 0 0 #FFFFFF;
}

.navigation li a.active {
  background: none repeat scroll 0 0 #F20000;
}

.submitted{
  text-transform: uppercase;
  font-family: 'AllerRegular', Arial, sans-serif;
  font-size: 12px;
  padding-top: 5px;
}

.author{
  display: block;
}

.date{
  color: #CCC;
}

/*Secciones*/
footer{
  
}

.node-presentation{
  
}


/*.node-presentation .node-links ul li a{
  color: #F7472E;
  padding: 0;
  text-decoration: none;
  
}*/

.node-presentation .node-links ul li a:hover{
  color: #F7472E;
  padding: 0;
  text-decoration: underline;
  
}

a:link, a:visited{
  text-decoration: none;
  color: #F7472E;
  
}

a:hover{
  text-decoration: underline;
}

article{
  padding-top: 20px;
}

h3{
  font-size: 22px;
}

h1, h2, h3, h4, h5{
  font-family: 'AllerRegular', Arial, sans-serif;
  font-weight: normal;
  line-height: 120%;
  margin-bottom: 20px;
}

body{
  color: #111;
  font-family: Arial, sans-serif;
}